* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


a {
    text-decoration: none;
}


h2 {
    font-size: 45px;
    line-height: 53px;
    color: #000000;
}

.h3 {
    font-size: 24px;
    line-height: 28px;
    color: #000000;    
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background: #FFFFFF;
    padding-bottom: 96px;
}

.header {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

.header_buttons {
    padding-top: 11x;
    padding-bottom: 12px;
    display: flex;
    gap: 34px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;    
}

.main_button {
    width: 120px;
    height: 40px;
    left: 1425px;
    top: 40px;    
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;   
    border: 1px solid #F25822;
}

.top_content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.top_info {
    width: 543px;
    align-self: flex-end;
}

.title {
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top_img {
    width: 611px;
    align-self: flex-start;
}


.top_buttons {
    margin-top: 37px;
    width: 302px;
    height: 50px;

}

.watch_video {
    width: 135px;
    height: 30px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.watch_video > img {
    vertical-align: middle;
    padding-right: 10px;
}    

.top_logos {
    margin-top: 97px;   
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.solution {
/*    padding-top: 127px;
    padding-bottom: 124px;*/
    background: #FAFAFA;
}

.solution_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
}

.solution_info {
    width: 515px;
}

.solution_title {
    margin-bottom: 20px;
}

.solution_text {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.framework {
    padding-top: 100px;
    padding-bottom: 100px;    
    background: #FFFFFF;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.framework_items {
    width: 310px;
}

.framework_img {
    margin-bottom: 25px;
}

.main_fwitems {
    width: 370px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);    
}

.framework_title {
    margin-bottom: 17px;
}

.framework_text {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 150%;
    color: #666666;    
}

.framework_info {
    font-size: 11px;
    line-height: 150%;
    font-weight: bold;
    color: #000000;    
}

.choose {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose_title {
    margin-bottom: 19px;
}

.choose_text {
    margin-bottom: 55px;
    width: 682px;
    text-align: center;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
}

.choose_items {
    padding-bottom: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.choose_item {
    padding-bottom: 50px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.main_chitems {
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);    
}

.choose_img {
    margin-bottom: 25px;
}

.choose_item_title {
    margin-bottom: 22px;
    text-align: center;
}

.choose_item_text {
    margin-bottom: 39px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
}


